<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentador - Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo" width="200px" height="100px">
        <h1><strong>Documentador</strong></h1>
        <form id="userForm">
            <div class="form-group">
                <label for="usuario">Usuário:</label>
                <input type="text" class="form-control" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="supportLevel">Função:</label>
                <select class="form-control" id="supportLevel" name="supportLevel" required>
                    <option value="1">Criar Documentação</option>
                    <option value="2">Adicionar Teste</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Continuar</button>
            <br>
        </form>
    </div>

    <script>
        document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const usuario = document.getElementById('usuario').value;
            const supportLevel = document.getElementById('supportLevel').value;
            
            if (supportLevel === '1') {
                window.location.href = '/doc?usuario=' + encodeURIComponent(usuario);
            } else if (supportLevel === '2') {
                window.location.href = '/teste?usuario=' + encodeURIComponent(usuario);
            }
        });

        document.getElementById('supportLevel').addEventListener('change', function() {
            const supportLevel = this.value;
            const clienteField = document.getElementById('clienteField');
            const moduloField = document.getElementById('moduloField');

            if (supportLevel === '2') {
                if (clienteField) clienteField.style.display = 'none';
                if (moduloField) moduloField.style.display = 'none';
            } else {
                if (clienteField) clienteField.style.display = 'block';
                if (moduloField) moduloField.style.display = 'block';
            }
        });

        // Trigger change event on page load to set the correct state
        document.getElementById('supportLevel').dispatchEvent(new Event('change'));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>